:root{
  --bar-color: blue;
}

.progress-bar{
  background-color: var(--bar-color)
}

.bar-container{
  position: relative;
}

.progress-track, .progress-bar{
  position: absolute;
  top: 0;
}

header{
  padding: 10px 0px;
  background-color: #282c34;
  text-align: center;
  color: white;
}

.App{
  position: relative;
}

.progressbar-container{
  position: sticky;
  top: 0;
}

h1, h2, p{
  color: lightslategray;
}
